body {
    background-color: #f5f7fa;
    font-family: 'Segoe UI', sans-serif;
  }
  .sidebar {
    height: 100vh;
    background-color:#0148B7;
    
    
  
    color: #fff;
  }
  .sidebar a {
    color: #ccc;
    text-decoration: none;
  }
  .sidebar a:hover,
  .sidebar a.active {
    color: #fff;
    background-color: #495057;
    
  }
  .stat-card {
    border-radius: 0.75rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  .content-section {
    display: none;
  }
  .content-section.active {
    display: block;
  }


  